@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

body, html {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    color: #444;
}

html {
    /*background-color: rgba(60, 60, 60, 0.7);*/
    background-image: url('../images/tweed/tweed.png');
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    overflow-y: scroll;
}

h1 {
    margin: 0; padding: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[ng-click] {
    color: blue;
    text-decoration: underline;
}

[ng-click]:hover {
    cursor: pointer;
    color: #000;
}

.header {
    width: 100%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#title a {
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

#post {
    /*background-color: green;*/
}

#post img.header {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    border-bottom: 5px solid black;
}

#post, #posts .content {
    /*background-color: red;*/
    margin: 1em;
    padding: 1em;
}


#post #content img{
    margin-top: 1em;
    margin-left: -1em;
    margin-bottom: 1em;
}

#posts #content {
    padding: 1em;
}

#posts .mini-header {
    background-color: #d6d7da;
    padding: 0.5em;
    border-top: 3px solid #c3c5c9;
    border-bottom: 3px solid #c3c5c9;
    color: #8ca2dd;
}

#posts .mini-header {
    color: #8ca2dd;
    text-decoration: none;
}

#posts .mini-header:hover {
    background-color: #cfd1d6;
}

#posts .mini-header:hover a {
    color: #99b3f8;
    border-bottom: 1px solid #8ca2dd;
    /*text-decoration: underline;*/
    /*border-bottom: 0px;*/
}

#posts img {
    /*display: none;*/
    width: 100%;
    margin: 0px;
}

.posts a {
    text-decoration: none;
}

.posts a:hover {
    border-bottom: 1px solid rgba(0, 0, 255, 0.1);
}

#title a:hover {
    color: #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.filename {
    text-align: right;
    font-weight: bolder;
    font-size: 1.5em;
}

.filename:before {
    content: '⬋ ';
}

.container {
    max-width: 900px;
    margin: 0em auto;
    margin-bottom: 2em;
    background-color: rgba(255, 255, 255, 0.7);
    /*padding: 1em;*/
}

.container img {
    max-width: 900px;
}